﻿<style >
.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table, .custom-table th, .custom-table td {
    border: 1px solid #ddd;
}

    .custom-table th, .custom-table td {
        padding: 8px;
        text-align: left;
    }

    .custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }


.btn-add {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
}







.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

    .pagination li {
        margin: 0 5px;
    }

        .pagination li a {
            border: 1px solid #ddd;
            padding: 5px 10px;
            text-decoration: none;
            color: #007bff;
            border-radius: 5px;
        }

            .pagination li a:hover,
            .pagination li a:focus {
                background-color: #eee;
            }

        .pagination li.active a,
        .pagination li.active a:hover,
        .pagination li.active a:focus {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }

        .pagination li.disabled a,
        .pagination li.disabled a:hover,
        .pagination li.disabled a:focus {
            color: #ccc;
            background-color: transparent;
            cursor: not-allowed;
        }

</style >
