﻿@page
@model Final_Project_HE153101.Pages.Schedules.AddModel

<h2>Add Schedule</h2>
 
<form method="post" enctype="multipart/form-data">
    <select asp-for="Schedule.ClassId" asp-items="@(new SelectList(Model.Classes, "ClassId", "ClassName"))">
        <option value="">Select Class</option>
    </select>

    <select asp-for="Schedule.SubjectId" asp-items="@(new SelectList(Model.Subjects, "SubjectId", "SubjectName"))">
        <option value="">Select Subject</option>
    </select>

    <select asp-for="Schedule.TeacherId" asp-items="@(new SelectList(Model.Teachers, "TeacherId", "TeacherName"))">
        <option value="">Select Teacher</option>
    </select>

    <select asp-for="Schedule.RoomId" asp-items="@(new SelectList(Model.Rooms, "RoomId", "RoomName"))">
        <option value="">Select Room</option>
    </select>


    <select asp-for="SelectedTimeSlotId" asp-items="@(new SelectList(Model.TimeSlots, "SlotId", "SlotName"))">
        <option value="">Select Time Slot</option>
    </select>

    <button type="submit">Add Schedule</button>
</form>
<a href="./LoadFile" class="btn btn-secondary">Load Data from JSON</a>
