﻿@page
@model Final_Project_HE153101.Pages.Schedules.EditModel
@using Final_Project_HE153101.Models


<h2>Edit Schedule</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Schedule.ClassId">Class</label>
        <select asp-for="Schedule.ClassId" class="form-control">
            @if (Model.Classes != null)
            {
                @foreach (var cls in Model.Classes)
                {
                    <option value="@cls.ClassId">@cls.ClassName</option>
                }
            }

        </select>
    </div>

    <div class="form-group">
        <label asp-for="Schedule.SubjectId">Subject</label>
        <select asp-for="Schedule.SubjectId" class="form-control">
            @if (Model.Subjects != null)
            {
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.SubjectId">@subject.SubjectName</option>
                }
            }
           
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Schedule.TeacherId">Teacher</label>
        <select asp-for="Schedule.TeacherId" class="form-control">
              @if (Model.Teachers != null)
            {
                @foreach (var teacher in Model.Teachers)
                {
                    <option value="@teacher.TeacherId">@teacher.TeacherName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Schedule.RoomId">Room</label>
        <select asp-for="Schedule.RoomId" class="form-control">
              @if (Model.Rooms != null)
            {
                @foreach (var room in Model.Rooms)
                {
                    <option value="@room.RoomId">@room.RoomName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SelectedSlotId">Time Slot</label>
        <select asp-for="SelectedSlotId" class="form-control" asp-items="@(Model.TimeSlots != null ? new SelectList(Model.TimeSlots, "SlotId", "SlotName") : new SelectList(Enumerable.Empty<Slot>()))">

            <option value="">Select Time Slot</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

<a href="./view">Back to List</a>
