﻿@page
@model Final_Project_HE153101.Pages.Schedules.LoadFileModel

<h2>Load Schedule from JSON File</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="upload">Upload JSON File:</label>
        <input type="file" id="upload" name="upload" />
    </div>
    <button type="submit" class="btn btn-primary">Upload and Process</button>
</form>


@if (Model.SchedulesFromJson != null && Model.SchedulesFromJson.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Room</th>
                <th>Time Slot</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SchedulesFromJson)
            {
                <tr>
                    <td>@item.ClassName</td>
                    <td>@item.CourseCode</td>
                    <td>@item.TeacherName</td>
                    <td>@item.RoomName</td>
                    <td>@item.TimeslotTypeName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data loaded from JSON file.</p>
}