﻿@page
@model Final_Project_HE153101.Pages.Schedules.ViewModel
@using Final_Project_HE153101.Models
<link rel="stylesheet" href="~/css/site.css" />



<h2>Schedules</h2>

<div class="filter-bar">
  <form method="get">

          <select name="classFilter" >
            <option value="">All Classes</option>
            @foreach (var cls in Model.Classes)
            {         
                    <option value="@cls.ClassId">@cls.ClassName</option>
            }
        </select>

        <select name="subjectFilter">
            <option value="">All Subjects</option>
            @foreach (var subject in Model.Subjects)
            {
                <option value="@subject.SubjectId">@subject.SubjectName</option>
            }
        </select>

        <select name="teacherFilter">
            <option value="">All Teachers</option>
            @foreach (var teacher in Model.Teachers)
            {
                <option value="@teacher.TeacherId">@teacher.TeacherName</option>
            }
        </select>

        <select name="roomFilter">
            <option value="">All Rooms</option>
            @foreach (var room in Model.Rooms)
            {
                <option value="@room.RoomId">@room.RoomName</option>
            }
        </select>

        <select name="timeSlotFilter">
            <option value="">All Time Slots</option>
            @foreach (var timeSlot in Model.TimeSlots)
            {
                <option value="@timeSlot.SlotId">@timeSlot.SlotName</option>
            }
        </select>
    <button type="submit">Filter</button>
</form>
</div>
<a class="btn-add" href="/Schedules/Add">Input New Schedule</a>


<table class="custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Room</th>
            <th>Time Slot</th> 
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>@item.ScheduleId</td>
                <td>@item.Class.ClassName</td>
                <td>@item.Subject.SubjectName</td>
                <td>@item.Teacher.TeacherName</td>
                <td>@item.Room.RoomName</td>               
                <td>
                    @foreach (var detail in item.ScheduleDetails)
                    {
                        <div>@detail.Slot.SlotName</div>
                        <div>@detail.Slot.StartSlot.ToString("HH:mm") - @detail.Slot.EndSlot.ToString("HH:mm")</div>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="/Schedules/edit" asp-route-id="@item.ScheduleId">Edit</a>
                </td>
                <td>
                   
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.ScheduleId" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}


@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-page="./View" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-page="./View" asp-route-pageIndex="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-page="./View" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
            </li>
        </ul>
    </nav>
}

